body, html, div, figure, ul, li,
h2, pre, footer, span, a, img, h3,
button {
  margin: 0 auto;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: center;
  text-decoration: inherit;
  background: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background: #ddd;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.snake-header {
  font-size: 56px;
  margin: 30px auto;
}

.snake-figure, .snake-game, .snake-splash {
  display: block;
  margin: 0 auto;
  width: 432px;
  height: 432px;
}

.snake-game, .snake-figure {
  position: absolute;
  left: 0;
  right: 0;
}

.snake-splash {
  display: none;
  position: absolute;
  z-index: 1;
  background: rgba(180, 195, 210, 0.75)
}

.snake-splash > span {
  display: block;
  position: relative;
  top: 125px;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  background: #090;
  color: #eaeaea;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0a0;
}

button:active {
  background: #080;
}

button:focus {
  outline: 0;
}

.snake-game {
  border: 3px solid #333;
}

.snake-row {
  position: relative;
}

.snake-row > li {
  display: block;
  position: relative;
  float: left;
  height: 16px;
  width: 16px;
  background: #eee;
  border: 1px solid #ddd;
}

.snake-row > .snake {
  background: green;
  border-radius: 5px;
}

.snake-row > .opponent {
  background: #333;
  border-radius: 5px;
}

.snake-row > .apple {
  background: darkred;
  border-radius: 5px;
}

.snake-figure > h2 {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px auto;
}

.snake > pre {
  font-size: 14px;
  font-family: monospace;
  margin: 0 auto;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer:after {
  display: block;
  content: "";
  clear: both;
}

footer > span {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 8px;
  line-height: 20px;
}

footer > span > a {
  color: #059;
  text-decoration: none;
}

footer > span > a:hover {
  text-decoation: underline;
}

footer > a > img {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 0;
}
